@using E_Commerce_Platform.ViewModels
@model UserRoleViewModel

@{
    ViewData["Title"] = "Details";
    @if (!User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_websiteLayout.cshtml";
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    }
}
<style>
    .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    ul {
        margin-top: 16px;
        margin-bottom: 1rem;
    }
    .validation-summary {
    width: 100%;
    /* background-color: #f8d7da; */
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    }

    .validation-summary ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

    .validation-summary li::before {
    content: "⚠ "; /* Warning icon */
    font-weight: bold;
    }

    .edit-overlay {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
    /* margin: 30px; */
    /* object-fit: cover; */
    /* cursor: pointer; */
    background: rgba(128, 128, 128, 0.2); /* Dark transparent layer */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    transition: background 0.3s ease-in-out;
    }

    .edit-overlay i {
    color: white;
    font-size: 30px;
    }

    .text-center:hover .edit-overlay {
    background: rgba(128, 128, 128, 0.6);
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
@if(!User.IsInRole("Admin")){
    <div class="main-container" style="overflow: scroll; height:fit-content;">
        <div class="card shadow-sm mb-4" style="width:70%; height:fit-content;  align-self:center;">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">User Information</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="text-center mb-3 position-relative d-inline-block">
                        <img id="profileImage" src="@Model.User.ImageUrl" class="rounded-circle border"
                             style="width: 150px; height: 150px; margin: 30px; object-fit: cover; cursor: pointer;"
                             title="Click to change image" />
                        <div id="overlay" class="edit-overlay">
                            <i class="fas fa-edit"></i>
                        </div>
                        <input type="file" id="imageUpload" name="ImageFile" accept="image/*" style="display: none;" />
                        <input type="hidden" name="ExistingImageUrl" value="@Model.User.ImageUrl" />

                    </div>


                    <dl class="row" style="justify-content:start; gap:0;">
                        <div asp-validation-summary="All" class="validation-summary"></div>

                        <dt class="col-sm-3">User ID:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.Id" class="form-control" readonly />
                        </dd>

                        <dt class="col-sm-3">Username:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.UserName" class="form-control" />
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-3">Full Name:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.FullName" class="form-control" />
                            <span asp-validation-for="User.FullName" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.Email" class="form-control" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-3">Address:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.Address" class="form-control" />
                            <span asp-validation-for="User.Address" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-3">Phone Number:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.PhoneNumber" class="form-control" />
                            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                        </dd>

                        <dt class="col-sm-3">Registration Date:</dt>
                        <dd class="col-sm-9">
                            <input asp-for="User.DateCreated" class="form-control" type="date" />
                            <span asp-validation-for="User.DateCreated" class="text-danger"></span>
                        </dd>
                        @if (User.IsInRole("Admin"))
                        {
                            <dt class="col-sm-3">Disabled:</dt>
                            <dd class="col-sm-9">
                                <select name="User.IsDeleted" id="User.IsDeleted" class="form-select">
                                    <option value="true" selected="@(Model.User.IsDeleted ? "selected" : null)">Yes</option>
                                    <option value="false" selected="@(Model.User.IsDeleted ? null : "selected")">No</option>
                                </select>
                            </dd>

                            <dt class="col-sm-3">Roles:</dt>
                            <dd class="col-sm-9">
                                @if (Model.UserRoles == null || Model.UserRoles.Count == 0)
                                {
                                    <span class="badge bg-secondary" style="font-size:15px">No Roles</span>
                                }
                                else
                                {
                                    @foreach (var role in Model.UserRoles)
                                    {
                                        <span class="badge bg-primary" style="font-size:15px">@role</span>
                                    }
                                }
                            </dd>
                        }
                    </dl>
                    <div class="mt-4 d-flex gap-2 buttons">
                        <div class="mt-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Role" asp-action="AssignRole" asp-route-userId="@Model.User.Id" class="btn btn-primary">Edit Roles</a>
                            }
                        </div>
                        <a asp-action="Details" asp-route-userId="@Model.User.Id" class="btn btn-secondary">Back to List</a>

                    </div>
                </form>

            </div>
        </div>
    </div>
}
else{
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="mb-0">User Information</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="text-center mb-3 position-relative d-inline-block">
                    <img id="profileImage" src="@Model.User.ImageUrl" class="rounded-circle border"
                         style="width: 150px; height: 150px; margin: 30px; object-fit: cover; cursor: pointer;"
                         title="Click to change image" />
                    <div id="overlay" class="edit-overlay">
                        <i class="fas fa-edit"></i>
                    </div>
                    <input type="file" id="imageUpload" name="ImageFile" accept="image/*" style="display: none;" />
                    <input type="hidden" name="ExistingImageUrl" value="@Model.User.ImageUrl" />

                </div>


                <dl class="row">
                    <dt class="col-sm-3">User ID:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.Id" class="form-control" readonly />
                    </dd>

                    <dt class="col-sm-3">Username:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </dd>

                    <dt class="col-sm-3">Full Name:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.FullName" class="form-control" />
                        <span asp-validation-for="User.FullName" class="text-danger"></span>
                    </dd>

                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </dd>

                    <dt class="col-sm-3">Address:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.Address" class="form-control" />
                        <span asp-validation-for="User.Address" class="text-danger"></span>
                    </dd>

                    <dt class="col-sm-3">Phone Number:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </dd>

                    <dt class="col-sm-3">Registration Date:</dt>
                    <dd class="col-sm-9">
                        <input asp-for="User.DateCreated" class="form-control" type="date" />
                        <span asp-validation-for="User.DateCreated" class="text-danger"></span>
                    </dd>
                    @if (User.IsInRole("Admin"))
                    {
                        <dt class="col-sm-3">Disabled:</dt>
                        <dd class="col-sm-9">
                            <select name="User.IsDeleted" id="User.IsDeleted" class="form-select">
                                <option value="true" selected="@(Model.User.IsDeleted ? "selected" : null)">Yes</option>
                                <option value="false" selected="@(Model.User.IsDeleted ? null : "selected")">No</option>
                            </select>
                        </dd>

                        <dt class="col-sm-3">Roles:</dt>
                        <dd class="col-sm-9">
                            @if (Model.UserRoles == null || Model.UserRoles.Count == 0)
                            {
                                <span class="badge bg-secondary" style="font-size:15px">No Roles</span>
                            }
                            else
                            {
                                @foreach (var role in Model.UserRoles)
                                {
                                    <span class="badge bg-primary" style="font-size:15px">@role</span>
                                }
                            }
                        </dd>
                    }
                </dl>
                <div class="mt-4 d-flex gap-2 buttons">
                    <div class="mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Role" asp-action="AssignRole" asp-route-userId="@Model.User.Id" class="btn btn-primary">Edit Roles</a>
                        }
                    </div>
                    <a asp-action="Details" asp-route-userId="@Model.User.Id" class="btn btn-secondary">Back to List</a>

                </div>
            </form>

        </div>
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#profileImage, #overlay").click(function () {
                $("#imageUpload").click();
            });

            $("#imageUpload").change(function (event) {
                let file = event.target.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#profileImage").attr("src", e.target.result);
                    };
                    reader.readAsDataURL(file);
                }
            });
        });

    </script>
}
