@using E_Commerce_Platform.ViewModels
@model UserPageViewModel
@{
}
<style>
    /* Styled Validation Summary */
    .validation-summary {
        width: 100%;
        /* background-color: #f8d7da; */
        color: red;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

        .validation-summary ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .validation-summary li::before {
            content: "⚠ "; /* Warning icon */
            font-weight: bold;
        }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0">Users</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center gap-3" style="width:100%">
            <form method="get" asp-action="Index" class="d-flex align-items-center gap-2">
                <label for="sortOption" class="form-label me-2 fw-bold fs-5">Sort:</label>
                <select name="sortBy" id="sortOption" class="form-select" onchange="this.form.submit()">
                    <option value="">Select</option>
                    <option value="Name" selected="@(Model.SortBy == "Name" ? "selected" : null)">Name</option>
                    <option value="Email" selected="@(Model.SortBy == "Email" ? "selected" : null)">Email</option>
                    <option value="Id" selected="@(Model.SortBy == "Id" ? "selected" : null)">ID</option>
                    <option value="Date" selected="@(Model.SortBy == "Date" ? "selected" : null)">Registration Date</option>
                    <option value="Phone" selected="@(Model.SortBy == "Phone" ? "selected" : null)">Phone</option>
                </select>
            </form>

            <form asp-action="Index" method="GET" class="d-flex align-items-center gap-2">
                <label for="Search" class="form-label me-2 fw-bold fs-5">Search:</label>
                <input type="text" name="search" value="@Model.SearchQuery" placeholder="Search" class="form-control">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Disabled</th>
                    <th>Registration Date</th>
                    <th>Phone Number</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Users.Count == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            <span>No Users Found</span>
                        </td>
                    </tr>
                }
                
                @foreach (var item in Model.Users)
                {
                    if (User.Identity.Name == item.User.UserName)
                    {
                        <tr>
                            <td style="color:red">@item.User.Id</td>
                            <td style="color:red">@item.User.FullName</td>
                            <td>
                                @if (item.UserRoles == null || item.UserRoles.Count == 0)
                                {
                                    <span class="badge bg-secondary" style="font-size:15px">No Roles</span>
                                }
                                else
                                {
                                    @foreach (var role in item.UserRoles)
                                    {
                                        <span class="badge bg-primary" style="font-size:15px; margin:3px" >@role</span>
                                    }
                                }
                            </td>
                            <td style="color:red">@item.User.Email</td>
                            <td>
                                <div class="col border-bottom pb-2 d-flex align-items-center">
                                    <span class="badge ms-3 @(item.User.IsDeleted ? "bg-danger" : "bg-success") fs-6">
                                        @(item.User.IsDeleted ? "Yes" : "No")
                                    </span>
                                </div>
                            </td>
                            <td style="color:red">@item.User.DateCreated</td>
                            <td style="color:red">@item.User.PhoneNumber</td>
                            <td>
                                <a asp-action="Details" asp-route-userId="@item.User.Id">
                                    <button type="submit" class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.User.Id</td>
                            <td>@item.User.FullName</td>
                            <td>
                                @if (item.UserRoles == null || item.UserRoles.Count == 0)
                                {
                                    <span class="badge bg-secondary" style="font-size:15px">No Roles</span>
                                }
                                else
                                {
                                    @foreach (var role in item.UserRoles)
                                    {
                                        <span class="badge bg-primary" style="font-size:15px; margin:3px">@role</span>
                                    }
                                }
                            </td>
                            <td>@item.User.Email</td>
                            <td>
                                <div class="col border-bottom pb-2 d-flex align-items-center">
                                    <span class="badge ms-3 @(item.User.IsDeleted ? "bg-danger" : "bg-success") fs-6">
                                        @(item.User.IsDeleted ? "Yes" : "No")
                                    </span>
                                </div>
                            </td>
                            <td>@item.User.DateCreated</td>
                            <td>@item.User.PhoneNumber</td>
                            <td>
                                <a asp-action="Details" asp-route-userId="@item.User.Id">
                                    <button type="submit" class="btn btn-primary">View</button>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center w-100 gap-3">
            <span class="fs-6 text-secondary">Users found: @Model.TotalUsers</span>
            <div class="pagination" style="display:flex; justify-content:center; align-items:center; gap:10px">
                <span class="mx-2">Page @Model.CurrentPage of @Model.TotalPages</span>

                @if (Model.CurrentPage > 1)
                {
                    <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" asp-route-pageSize="12" asp-route-search="@Model.SearchQuery" asp-route-sortBy="@Model.SortBy" class="btn btn-secondary">Previous</a>
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" asp-route-pageSize="12" asp-route-search="@Model.SearchQuery" asp-route-sortBy="@Model.SortBy" class="btn btn-secondary">Next</a>
                }
            </div>
        </div>
    </div>
</div>
