@using System.Security.Claims
@{
    var imageUrl = User.Claims.FirstOrDefault(c => c.Type == "ImageUrl")?.Value ?? "/images/default.png";

    var currentID = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="~/js/SmoothScroll.js"></script> 
    <script src="~/js/index.js" defer></script>
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- AOS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <title>@ViewData["CurrentPage"] - E-Commerce App</title>
    <link rel="icon" href="/images/icon.png" type="image/png">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header >
        <div class="header-inner-one flex">
            <div class="nav-list flex">
                <div class="logo">
                    <a class="no-style" asp-controller="Ecommerce" asp-action="Home">
                        <img src="~/images/logo.png" alt="">
                    </a>
                </div>
                <button class="nav-btn" aria-controls="primary-navigation">
                    <i class="uil uil-bars"></i>
                </button>
                <nav>
                    <ul id="primary-navigation" class="primary-navigation flex">
                        <li><a asp-controller="Ecommerce" asp-action="Home" class="fs-100 fs-montserrat bold-500 @(ViewData["CurrentPage"] as string == "Home" ? "text-black" : "text-gray")">Home</a></li>
                        <li><a asp-controller="Ecommerce" asp-action="Shop" class="fs-100 fs-montserrat bold-500 @(ViewData["CurrentPage"] as string == "Shop" ? "text-black" : "text-gray")">Shop</a></li>
                        <li><a asp-controller="Ecommerce" asp-action="About" class="fs-100 fs-montserrat bold-500 @(ViewData["CurrentPage"] as string == "About" ? "text-black" : "text-gray")">About Us</a></li>
                        <li><a asp-controller="Ecommerce" asp-action="Contact" class="fs-100 fs-montserrat bold-500 @(ViewData["CurrentPage"] as string == "Contact" ? "text-black" : "text-gray")">Contact Us</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-controller="Admin" asp-action="Dashboard" class="fs-100 fs-montserrat bold-500 @(ViewData["CurrentPage"] as string == "Admin" ? "text-black" : "text-gray")">Admin</a></li>
                        }
                    </ul>
                </nav>

            </div>
            <div class="header-login flex">
                @if(!User.Identity.IsAuthenticated){
                    <p class="fs-100 fs-montserrat bold-500"><a style="text-decoration:none;" asp-controller="Account" asp-action="Login" class="text-black fs-100 fs-montserrat bold-500">Login</a></p>
                }
                else
                {
                    <a class="nav-link text-danger fw-bold" asp-controller="User" asp-action="Details" asp-route-userId="@currentID" asp-route-context="Layout">
                        <img src="@imageUrl" class="rounded-circle border shadow-sm me-2"
                        style="width: 40px; height: 40px; object-fit: cover; border-radius:100%; background-color:rgb(230, 230, 230)">
                    </a>
                    <div class="cart-btns flex">
                        <i id="cart-box" aria-controls="cart-icon" class="uil uil-shopping-bag">
                            <span class="cart-counter">0</span>
                        </i>
                    </div>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="text-black fs-100 fs-montserrat bold-500" style="background: none; padding:0; border: none; cursor: pointer; text-decoration: none;">
                            Sign out
                        </button>
                    </form>

                }
                <div class="cart-card hide">
                    <div class="empty">
                    </div>
                    <div class="item-container">
                        <div class="card-item-container">

                        </div>
                        <div class="controls">
                            <div class="titles">

                            </div>
                            <div class="cart-btn">
                                <a class="no-style" asp-action="CartPage" asp-controller="Cart" style="width:100%">
                                    <button class="fs-100 fs-montserrat bold-400">PROCEED TO CHECK</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody();
    <footer  data-aos="fade-up">
        <div id="start" class="footer-info">
            <a class="no-style" asp-controller="Ecommerce" asp-action="Home">
              <img style="width:150px" src="~/images/logo.png" alt="">
            </a>
            <span id="bigtext" style="color:gray" class=" fs-poppins bold-500 fs-100">There are many variations passage of lorem available, but the mejority have</span>
            <div class="socials">
                <a class=" no-style" href="https://www.facebook.com/profile.php?id=100028423727928">
                    <i class="uil uil-facebook"></i>
                </a>
                <a class="no-style" href="https://www.linkedin.com/in/ahmed-ashraf-a45891261/">
                <i class="uil uil-linkedin"></i>
                </a>
                <a class="no-style" href="https://github.com/ahmedashraf0001">
                <i class="uil uil-github"></i>
                </a>
                <a class="no-style" href="https://x.com/lyr1cs4n">
                <i class="uil uil-twitter"></i>
                </a>

            </div>

        </div>
        <div id="middle1" class="footer-info">

            <span class="big-wireless block lineheight fs-200 bold-700 fs-poppins">Quick Links</span>
            <ul>
                <li><a asp-controller="Ecommerce" asp-action="Home" class="fs-100 fs-montserrat bold-500 ">Home</a></li>
                <li><a asp-controller="Ecommerce" asp-action="Shop" class="fs-100 fs-montserrat bold-500 ">Shop</a></li>
                <li><a asp-controller="Ecommerce" asp-action="About" class="fs-100 fs-montserrat bold-500 ">About Us</a></li>
                <li><a asp-controller="Ecommerce" asp-action="Contact" class="fs-100 fs-montserrat bold-500 ">Contact Us</a></li>
            </ul>

        </div>
        <div id="middle2" class="footer-info">
            <span class="big-wireless block lineheight fs-200 bold-700 fs-poppins">Contact</span>
            <span style="color:gray" class=" fs-poppins bold-500 fs-100">There are many variations passage of lorem available, but the mejority have</span>
            <a asp-action="Contact"><button class="normal-btn bg-red text-white fs-poppins fs-50" >Contact</button></a>
        </div>

    </footer>
    <div class="end ">
        <p class="text-gray fs-poppins bold-500 fs-100">© 2025 eStore, All rights reserved</p>
        <p class="text-gray fs-poppins bold-500 fs-100">Privacy Policy, Term Conditions</p>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    AOS.init({
      duration: 700,
      easing: "ease-in-out",
      once: true,
    });
    const container = document.querySelector(".card-item-container");
    const cart = document.querySelector(".cart-card");
    const icon = document.querySelector(".uil-shopping-bag");
    const controller = document.querySelector(".controls .titles");
    const empty = document.querySelector(".cart-card .empty")
    const cartcount = document.querySelector(".cart-counter");
    if (cart) {
        icon.addEventListener("click", function () {
            cart.classList.toggle("hide");
            cart.classList.toggle("show");
            fetchCart();
        });
    }
    fetchCart();
    function fetchCart(){
         $.ajax({
                url: "/Cart/GetCart",
                success: function (result) {
                    if (result.data.products.$values.length == 0) {
                        empty.innerHTML = "";
                        empty.innerHTML += `
                             <i class="uil uil-shopping-cart-alt text-gray fs-500 fs-montserrat bold-500"></i>
                            <p class="text-gray fs-100 fs-montserrat bold-500">Cart Is Empty</p>
                        `;
                        empty.style.display = "flex";
                    }
                    container.innerHTML = "";
                    result.data.products?.$values.forEach(product => {
                        container.innerHTML += `
                        <a href="/Product/ProductPage?productId=${product.productId}" class="no-style">
                            <div class="item">
                                <p class="fs-100 fs-montserrat bold-500">${product.productName}</p>
                                <div class="item-card">
                                    <img src="${product.productImage}" alt="">
                                    <div class="titles">
                                        <p class="fs-100 fs-montserrat bold-500">Quantity: ${product.quantity}</p>
                                        <p class="fs-100 fs-montserrat bold-500">$${product.price}</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                            <hr style="border: 0.2px solid rgb(185, 185, 185); width: 92%;">`;
                    });
                    cartcount.textContent = result.data.products.$values.length;
                    controller.innerHTML = `
                                    <p class="fs-100 fs-montserrat bold-500">Subtotal <span>(${result.data.products.$values.length} items)</span></p>
                                    <p class="fs-100 fs-montserrat bold-500">$${result.data.totalCost}</p>
                    `;
                }
            })
    }
</script>
</html>
